<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent_room_type.name %>
</p>
<p>
  <strong>Show room types:</strong>
  <%= link_to 'show room types', parent_room_type_room_types_path(@parent_room_type) %>
</p>

<%= link_to 'Edit', edit_parent_room_type_path(@parent_room_type) %> |
<%= link_to 'Back', parent_room_types_path %>
