<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @information.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @information.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @information.mobile %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @information.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @information.email %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @information.youtube %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', admin_index_path %>
