<%= form_for(@room_type) do |f| %>
  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>

      <ul>
      <% @room_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field :room_type, :parent_room_type_id %>
    <%= f.label :room_type_name %><br>
    <%= f.text_field :room_type_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :room_size %><br>
    <%= f.text_field :room_size %>
  </div>
  <div class="field">
    <%= f.label :room_bed %><br>
    <%= f.text_field :room_bed %>
  </div>
  <div class="field">
    <%= f.label :room_view %><br>
    <%= f.text_field :room_view %>
  </div>
  <div class="field">
    <%= f.label :room_features %><br>
    <%= f.text_field :room_features %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
