<p id="notice"><%= notice %></p>

<h1>Listing Room Types</h1>

<table>
  <thead>
    <tr>
      <th>Parent room type</th>
      <th>Room type name</th>
      <th>Description</th>
      <th>Room size</th>
      <th>Room bed</th>
      <th>Room view</th>
      <th>Room features</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= room_type.parent_room_type.name %></td>
        <td><%= room_type.room_type_name %></td>
        <td><%= room_type.description %></td>
        <td><%= room_type.room_size %></td>
        <td><%= room_type.room_bed %></td>
        <td><%= room_type.room_view %></td>
        <td><%= room_type.room_features %></td>
        <td><%= link_to 'Show', parent_room_type_room_type_path(@parent_room_type, room_type) %></td>
        <td><%= link_to 'Edit', edit_room_type_path(room_type) %></td>
        <td><%= link_to 'Destroy', room_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New room type', new_parent_room_type_room_type_path(@parent_room_type) %>|
<%= link_to 'Back', parent_room_type_path(@parent_room_type) %>
