<p id="notice"><%= notice %></p>

<h1>Listing Hotel Overviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotel_overviews.each do |hotel_overview| %>
      <tr>
        <td><%= hotel_overview.title %></td>
        <td><%= hotel_overview.content %></td>
        <td><%= link_to 'Show', hotel_overview %></td>
        <td><%= link_to 'Edit', edit_hotel_overview_path(hotel_overview) %></td>
        <td><%= link_to 'Destroy', hotel_overview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel overview', new_hotel_overview_path %>
