<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hotel_overview.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @hotel_overview.content %>
</p>

<%= link_to 'Edit', edit_hotel_overview_path(@hotel_overview) %> |
<%= link_to 'Back', hotel_overviews_path %>
